body {
	font-family: sans-serif;
}
.logo {
	background: url(http://cdn.shopify.com/s/files/1/0665/6807/t/5/assets/logo.png?1661) no-repeat;
	width: 300px;
	height: 175px;
	background-size: contain;
	margin: 50px auto;
}
/*	Login Page
======================*/
fieldset,
.login fieldset {
	border: 0;
	margin: 0 auto;
	text-align: center;
}
.login legend {
	font-size: 24px;
	color: #a3443e;
}
.login input {
	padding: 10px;
	margin: 10px;
	border: 1px solid #000;
	width: 320px;
	font-size: 18px;
	text-transform: uppercase;
}
.login button {
	width: 320px;
	height: 50px;
	border: 0;
	background: #f2f2f2;
	font-size: 18px;
	text-transform: uppercase;
	-webkit-transition: background-color .5 ease;
	-moz-transition: background-color .5 ease;
	-ms-transition: background-color .5 ease;
	-o-transition: background-color .5 ease;
	transition: background-color .5 ease;
}
.login button:hover {
	background-color: #a3443e;
}
/*	Calculator Page
======================*/

fieldset{
	border:1px solid #f2f2f2;
	margin:2em auto;
	max-width:400px;
}
fieldset > legend{
	background:#444;
	border-radius:15px;
	box-shadow:inset 1px 1px 7px 0 #ccc;
	color:DodgerBlue;
	font-weight:bold;
	font-size:18px;
	letter-spacing:0.15em;
	padding:0.1em 2em;
}

ul.fields,
ul.output_fields{
	list-style:none;
	margin:0;
	padding:0;
}
ul.fields li,
ul.output_fields li{
	clear:both;
	text-align:right;
	padding:0.25em 0;
}

ul.fields div.label{
	display:inline-block;
	height:100%;
	float:left;
	max-height:30px;
	padding:0 1em 0 0;
}
ul.fields div.input{
	display:inline-block;
	height:100%;
	max-height:30px;
	padding:0 0 0 0;
}

ul.fields input[type=number]{
	border:1px solid #f2f2f2;
	display:inline-block;
	font-size:14px;
	height:100%;
	max-height:30px;
	padding:0 3px;
	vertical-align:middle;
}
ul.fields input[type=range]{
	margin-right:2em;
}

ul.fields input[type=radio]{
	display:none;
}
ul.fields input[type=radio] + label{
	background: #f2f2f2;
	border-radius: 0;
	color: #a3443e;
	padding: 5px 15px;
}
ul.fields input[type=radio]:checked + label{
	background:#444;
	color:White;
}

ul.fields div.value,
ul.output_fields div.value{
	display:inline-block;
	width:65px;
}

ul.fields div.input_cap,
ul.output_fields div.input_cap{
	background: #f2f2f2;
	display: inline-block;
	font-size: 12px;
	height: 31px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	width: 25px;
}
h1 {
	margin: 0;
	padding: 10px;
	font-size: 20px;
	color: #a3443e;
}